.frame,
.frame1 {
  position: absolute;
  top: 0;
  left: 72px;
  width: 1512px;
  height: 114px;
  overflow: hidden;
}
.frame {
  left: -72px;
  width: 1584px;
}
.openAccount {
  position: relative;
  letter-spacing: -0.14px;
  line-height: 18.67px;
  width: 159px;
  flex-shrink: 0;
}
.compareOurOffers,
.openAccount,
.withSuperfast5g {
  display: flex;
  align-items: center;
  justify-content: center;
}
.withSuperfast5g {
  position: absolute;
  top: 0;
  left: calc(50% - 323px);
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 299px;
  height: 50px;
  flex-direction: row;
  padding: var(--padding-8xs) 15.109375px 6.65625px var(--padding-mini);
}
.compareOurOffers {
  position: relative;
  letter-spacing: -0.14px;
  line-height: 18.67px;
  width: 245px;
  flex-shrink: 0;
}
.frame2,
.frame3,
.withSuperfast5g1 {
  position: absolute;
  top: 0;
  height: 50px;
}
.withSuperfast5g1 {
  left: calc(50% + 24px);
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 299px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) 15.109375px 6.65625px var(--padding-mini);
  color: var(--color-white);
}
.frame2,
.frame3 {
  left: 0;
  width: 646px;
  overflow: hidden;
}
.frame2 {
  top: 599px;
  left: 377px;
  width: 686px;
  color: var(--color-black);
}
.monthFree {
  position: absolute;
  top: 0;
  left: 25px;
  letter-spacing: -0.14px;
  line-height: 18.67px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
}
.monthFreeParent,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon {
  height: 100%;
  width: 15.04%;
  right: 84.96%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.monthFreeParent {
  width: 133px;
  height: 19.1px;
}
.opensIn5,
.withoutEngagement {
  position: absolute;
  top: 0;
  left: 214px;
  letter-spacing: -0.14px;
  line-height: 18.67px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 131px;
}
.withoutEngagement {
  left: 409px;
  width: 169px;
}
.vectorIcon1 {
  height: 100%;
  width: 3.46%;
  right: 30.1%;
  bottom: 0;
  left: 66.44%;
  max-width: 100%;
  max-height: 100%;
}
.frame4,
.frame5,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.vectorIcon2 {
  height: 100%;
  width: 2.65%;
  right: 63.7%;
  bottom: 0;
  left: 33.65%;
  max-width: 100%;
  max-height: 100%;
}
.frame4,
.frame5 {
  left: 0;
  width: 578px;
  height: 20px;
}
.frame4 {
  top: 740px;
  left: 413px;
  width: 614px;
  font-size: var(--font-size-lg);
}
.discoverOurServices,
.withSuperfast5g2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discoverOurServices {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.14px;
  line-height: 18.67px;
  width: 262px;
  flex-shrink: 0;
}
.withSuperfast5g2 {
  position: absolute;
  top: 775px;
  left: calc(50% - 654px);
  border-radius: var(--br-81xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 354px;
  height: 50px;
  flex-direction: row;
  padding: var(--padding-8xs) 15.109375px 6.65625px var(--padding-mini);
  text-align: center;
  color: var(--color-gray-600);
}
.desServicesBancaires,
.littleThingsThat,
.littleThingsThat1 {
  position: absolute;
  left: calc(50% - 654px);
  display: flex;
  align-items: center;
  width: 574px;
}
.desServicesBancaires {
  top: 644px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.11px;
  line-height: 31px;
  color: var(--color-dimgray-100);
}
.littleThingsThat,
.littleThingsThat1 {
  top: 497px;
  font-size: var(--font-size-25xl);
  letter-spacing: -0.28px;
  line-height: 60px;
  text-transform: capitalize;
}
.littleThingsThat1 {
  top: 248px;
  left: calc(50% - 532px);
  font-weight: 600;
  font-family: var(--font-montserrat);
  text-align: center;
  justify-content: center;
  width: 989px;
}
.svgchakraIcon,
.svgchakraIcon1,
.svgchakraIcon2,
.svgchakraIcon3 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.svgchakraIcon1,
.svgchakraIcon2,
.svgchakraIcon3 {
  left: 20px;
  z-index: 1;
}
.svgchakraIcon2,
.svgchakraIcon3 {
  left: 40px;
  z-index: 2;
}
.svgchakraIcon3 {
  left: 60px;
  z-index: 3;
}
.divcss1r9c4q2Icon {
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 4;
}
.divchakraStack1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-61xl);
  position: relative;
}
.appStore,
.div {
  position: absolute;
  top: -1px;
  left: 1px;
  line-height: 24px;
}
.appStore {
  left: 33.7px;
}
.svgchakraIcon4 {
  position: absolute;
  top: 0;
  left: calc(50% + 47.65px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.divchakraText {
  flex: 1;
  position: relative;
  width: 139.3px;
}
.divchakraStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4.984375px;
  gap: var(--gap-5xs);
}
.googlePlay {
  position: absolute;
  top: -1px;
  left: 31.8px;
  line-height: 24px;
}
.svgchakraIcon9 {
  position: absolute;
  top: 0;
  left: calc(50% + 52.65px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.divchakraText1 {
  flex: 1;
  position: relative;
  width: 149.3px;
}
.divchakraStack2,
.divcssJoj902 {
  display: flex;
  justify-content: flex-start;
}
.divchakraStack2 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.divcssJoj902 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 429.3px);
  flex-direction: row;
  align-items: flex-start;
  gap: 80px;
}
.hrchakraDivider {
  position: absolute;
  top: calc(50% - 32.5px);
  left: calc(50% + 61.2px);
  border-left: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1px;
  height: 65px;
  opacity: 0.6;
}
.satisfiedCustomers {
  position: absolute;
  top: -5px;
  left: 0;
  font-size: var(--font-size-5xl);
  line-height: 24px;
  font-family: var(--font-georgia);
}
.div2,
.seeMoreReviews {
  position: absolute;
  top: 35px;
  left: 0;
  line-height: 15px;
}
.div2 {
  left: 123.7px;
}
.divcssGasozw {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% + 94.2px);
  width: 335px;
  height: 50px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.divcssF7b18q {
  position: absolute;
  top: 50px;
  left: 66px;
  width: 1434px;
  height: 97px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-300);
  font-family: var(--font-segoe-ui);
}
.shine {
  position: absolute;
  top: 525.7px;
  left: 917.1px;
  font-size: 50px;
  letter-spacing: -0.28px;
  line-height: 60px;
  color: #979797;
  transform: rotate(-42.23deg);
  transform-origin: 0 0;
}
.desServicesBancaires1,
.littleThingsThat2,
.withSuperfast5g3 {
  position: absolute;
  left: calc(50% - 287px);
  display: flex;
  align-items: center;
}
.withSuperfast5g3 {
  top: 218px;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 354px;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-8xs) 15.109375px 6.65625px var(--padding-mini);
  text-align: center;
  color: var(--color-black);
}
.desServicesBancaires1,
.littleThingsThat2 {
  top: 87px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.11px;
  line-height: 31px;
  width: 574px;
}
.littleThingsThat2 {
  top: 0;
  font-size: var(--font-size-25xl);
  letter-spacing: -0.28px;
  line-height: 60px;
  text-transform: capitalize;
}
.withSuperfast5gParent {
  position: absolute;
  top: 1155px;
  left: 783px;
  width: 574px;
  height: 268px;
  color: var(--color-white);
}
.withSuperfast5g4 {
  top: 2093px;
  border-radius: var(--br-81xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 354px;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-8xs) 15.109375px 6.65625px var(--padding-mini);
  text-align: center;
  color: var(--color-gray-600);
}
.desServicesBancaires2,
.littleThingsThat3,
.withSuperfast5g4 {
  position: absolute;
  left: calc(50% - 654px);
  display: flex;
  align-items: center;
}
.desServicesBancaires2 {
  top: 1962px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.11px;
  line-height: 31px;
  color: var(--color-dimgray-100);
  width: 790px;
}
.littleThingsThat3 {
  top: 1875px;
  font-size: var(--font-size-25xl);
  letter-spacing: -0.28px;
  line-height: 60px;
  text-transform: capitalize;
  width: 710px;
}
.frame6,
.frame7 {
  position: absolute;
  top: 0;
  left: 76px;
  width: 1642px;
  height: 2251px;
  overflow: hidden;
}
.frame6 {
  top: 847px;
  left: -139px;
  width: 1718px;
  text-align: left;
  color: var(--color-gray-400);
}
.desServicesBancaires3,
.littleThingsThat4 {
  position: absolute;
  top: 0;
  left: calc(50% - 117px);
  letter-spacing: 0.11px;
  line-height: 31px;
  display: flex;
  align-items: center;
  width: 790px;
}
.littleThingsThat4 {
  top: 17px;
  left: calc(50% - 673px);
  font-size: var(--font-size-25xl);
  letter-spacing: -0.28px;
  line-height: 60px;
  text-transform: capitalize;
  width: 710px;
}
.frame8,
.frame9 {
  position: absolute;
  top: 0;
  left: 114px;
  width: 1346px;
  height: 93px;
  overflow: hidden;
}
.frame8 {
  top: 3156px;
  left: -10px;
  width: 1460px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.unsplashrjqe64nmcOIcon {
  position: absolute;
  top: 930px;
  left: 750px;
  width: 700px;
  height: 700px;
  object-fit: cover;
}
.discover {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: -0.14px;
  line-height: 18.67px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.withSuperfast5g5 {
  position: absolute;
  top: 1138px;
  left: calc(50% - 452px);
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 174px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 15.109375px 6.65625px var(--padding-mini);
}
.littleThingsThat5 {
  position: absolute;
  top: 340px;
  left: calc(50% + 71px);
  font-size: var(--font-size-26xl);
  letter-spacing: -0.28px;
  line-height: 60px;
  display: flex;
  color: var(--color-gray-400);
  align-items: center;
  justify-content: center;
  width: 574px;
}
.withSuperfast5g6 {
  position: absolute;
  top: 447px;
  left: calc(50% + 252px);
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 174px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 15.109375px 6.65625px var(--padding-mini);
}
.littleThingsThat6,
.sansEngagementSans {
  position: absolute;
  display: flex;
  align-items: center;
}
.sansEngagementSans {
  top: 158px;
  left: calc(50% - 547px);
  font-size: var(--font-size-5xl);
  letter-spacing: -0.48px;
  line-height: 33px;
  color: var(--color-gray-300);
  justify-content: center;
  width: 1090px;
}
.littleThingsThat6 {
  top: 90px;
  left: calc(50% - 261px);
  font-size: var(--font-size-25xl);
  letter-spacing: -0.28px;
  line-height: 60px;
  text-transform: capitalize;
  color: var(--color-black);
  text-align: left;
  width: 518px;
}
.unsplashexP4aabxbsIcon {
  position: absolute;
  top: 223px;
  left: 29px;
  width: 700px;
  height: 700px;
  object-fit: cover;
}
.withSuperfast5g7 {
  position: absolute;
  top: 244px;
  left: calc(50% - 87px);
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 174px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 15.109375px 6.65625px var(--padding-mini);
}
.littleThingsThat7 {
  position: absolute;
  top: 79px;
  left: calc(50% - 261px);
  font-size: var(--font-size-26xl);
  letter-spacing: -0.28px;
  line-height: 60px;
  display: flex;
  color: var(--color-gray-600);
  align-items: center;
  justify-content: center;
  width: 523px;
}
.withSuperfast5gGroup {
  position: absolute;
  top: 223px;
  left: 29px;
  background: linear-gradient(180deg, #000, transparent);
  width: 700px;
  height: 700px;
  color: var(--color-black);
}
.b089d20F6f04b209252569dceeIcon,
.de693ad2Ea5e4be5B48d931a58Icon {
  position: absolute;
  height: calc(100% - 1190px);
  width: calc(100% - 798px);
  top: 486px;
  right: 43px;
  bottom: 704px;
  left: 755px;
  border-radius: var(--br-base) var(--br-base) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.de693ad2Ea5e4be5B48d931a58Icon {
  height: calc(100% - 1178px);
  width: calc(100% - 780px);
  top: 1158px;
  right: 758px;
  bottom: 20px;
  left: 22px;
}
.frame10,
.frame11 {
  position: absolute;
  top: 0;
  left: 4px;
  width: 1488px;
  height: 1650px;
  overflow: hidden;
}
.frame10 {
  top: 3324px;
  left: -26px;
  width: 1492px;
}
.frameIcon {
  position: absolute;
  top: 0;
  left: calc(50% - 610px);
  width: 96px;
  height: 26px;
}
.frame12 {
  position: absolute;
  top: 5006px;
  left: -84px;
  width: 1608px;
  height: 215px;
  overflow: hidden;
}
.divchakraStack4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1434px;
  height: 286px;
}
.divgatsbyImageWrapperIcon {
  position: relative;
  width: 64px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
}
.shineRespecteDes {
  position: relative;
  line-height: 20.63px;
  display: flex;
  align-items: center;
  width: 580px;
}
.enSavoirPlus {
  color: inherit;
}
.enSavoirPlusContainer {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 16.5px;
  display: flex;
  align-items: center;
  width: 115px;
  height: 17px;
}
.achakraLink {
  position: relative;
  border-bottom: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 114.8px;
  height: 22.5px;
  font-size: var(--font-size-mini);
  color: inherit;
}
.divchakraStack6,
.pchakraText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakraText {
  padding: 0 64.90936279296875px 0 0;
  gap: 27.25px;
}
.divchakraStack6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-400);
  padding: var(--padding-21xl);
  gap: var(--gap-xs);
}
.chaqueAnneNous {
  position: relative;
  line-height: 20.63px;
  display: flex;
  align-items: center;
  width: 531.5px;
}
.achakraLink1 {
  position: relative;
  border-bottom: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 114.8px;
  height: 22.5px;
  color: inherit;
}
.divchakraStack7,
.pchakraText1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakraText1 {
  padding: 0 57.54998779296875px 0 0;
  gap: 27.25px;
}
.divchakraStack7 {
  position: absolute;
  top: 0;
  left: 744px;
  background-color: var(--color-whitesmoke-400);
  padding: var(--padding-21xl);
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
}
.divchakraStack5,
.divcss1t2o4d4 {
  position: absolute;
  top: 39px;
  left: 11px;
  width: 1413px;
  height: 248px;
}
.divcss1t2o4d4 {
  top: 0;
  left: 0;
  width: 1434px;
  height: 336px;
}
.shineSocitImmatriculeContainer1 {
  line-break: anywhere;
  width: 100%;
}
.shineSocitImmatriculeContainer {
  position: relative;
  line-height: 20.63px;
  display: flex;
  align-items: center;
  width: 1279px;
  flex-shrink: 0;
}
.pchakraText2 {
  position: absolute;
  top: -4px;
  left: 78px;
  width: 1279px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.940673828125px 3.875px 0;
  box-sizing: border-box;
}
.accueil,
.conditionsDutilisation,
.protectionDesDonnes {
  position: absolute;
  top: 7px;
  left: 378px;
  line-height: 22.5px;
  color: inherit;
  text-decoration: none;
}
.conditionsDutilisation,
.protectionDesDonnes {
  left: 444px;
}
.protectionDesDonnes {
  left: 615.6px;
}
.mentionsLgales,
.paramtrerLesCookies {
  position: absolute;
  top: 7px;
  left: 792.7px;
  line-height: 22.5px;
}
.mentionsLgales {
  left: 960.2px;
  color: inherit;
  text-decoration: none;
}
.ulchakraWrapList {
  position: absolute;
  top: 93.9px;
  left: -8px;
  width: 1450px;
  height: 38.5px;
  text-align: center;
  color: var(--color-dimgray-300);
}
.divchakraStack8 {
  position: absolute;
  top: 356px;
  left: 0;
  width: 1434px;
  height: 124.4px;
  font-size: var(--font-size-mini);
  color: inherit;
}
.navchakraContainer {
  position: absolute;
  top: 5335px;
  left: calc(50% - 717px);
  width: 1434px;
  height: 818.1px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-segoe-ui);
}
.instagramIcon {
  position: relative;
  border-radius: var(--br-9xs);
  width: 40px;
  height: 32px;
}
.divchakraStack9 {
  position: absolute;
  top: 0;
  left: 167px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkedinIcon,
.twitterIcon {
  position: absolute;
  top: calc(50% - 16px);
  left: 111px;
  border-radius: var(--br-9xs);
  width: 40px;
  height: 32px;
}
.twitterIcon {
  left: 55px;
}
.facebookIcon,
.frame13,
.frame14 {
  position: absolute;
  left: 0;
  height: 32px;
}
.facebookIcon {
  top: calc(50% - 16px);
  border-radius: var(--br-9xs);
  width: 40px;
}
.frame13,
.frame14 {
  top: 0;
  width: 207px;
  overflow: hidden;
}
.frame13 {
  top: 5229px;
  left: 111px;
  width: 1218px;
}
.shineLandingPageAssignment {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 5888px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-arial);
}
