.search {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: -0.37px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aacLsContinue {
  position: absolute;
  top: 0;
  right: 28px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-300);
  width: 114px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 18.078125px var(--padding-5xs) var(--padding-mid);
  box-sizing: border-box;
  text-align: center;
}
.searchProductsStores {
  position: absolute;
  top: 7px;
  left: 29px;
  line-height: 35px;
  display: flex;
  align-items: center;
  width: 227px;
  height: 20px;
}
.span {
  position: relative;
  width: 294px;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.span1 {
  margin: 0 !important;
  position: absolute;
  height: calc(100% - 1px);
  top: 1px;
  bottom: 0;
  left: 81.5px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  z-index: 1;
}
.div2 {
  position: relative;
  font-size: var(--font-size-2xl);
  line-height: 30px;
  font-weight: 300;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  z-index: 2;
}
.divacLsDropdownSelect {
  position: absolute;
  width: calc(100% - 196px);
  top: 0;
  right: 157px;
  left: 39px;
  border-radius: var(--br-5xs);
  background-color: var(--color-dimgray-200);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-12xs) 8.453125px 0 var(--padding-mini);
  box-sizing: border-box;
  gap: 4.55px;
  color: var(--color-silver);
}
.div3 {
  position: relative;
  line-height: 18px;
  font-weight: 300;
}
.exit {
  top: calc(50% - 9px);
  right: -3.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.div,
.div1,
.exit {
  position: absolute;
}
.div1 {
  top: calc(50% - 18px);
  left: 125px;
  width: 652px;
  height: 36px;
}
.div {
  top: 0;
  left: calc(50% - 512px);
  width: 1024px;
  height: 70px;
}
.vectorIcon {
  position: absolute;
  height: 52.86%;
  width: 2.45%;
  top: 24.29%;
  right: 7.87%;
  bottom: 22.86%;
  left: 89.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.asideacLocaleswitcher {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #161617;
  width: 1512px;
  height: 70px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-segoe-ui);
}
